---
pageable: true
per_page: 10
hero: images/unsplash.jpg
logo: face
title: Jacek Głodek
subtitle:
  My blog on business, software, philosophy and design.<br/>
  I am a software designer, founder of <a href="http://www.theiterators.com/" title="The Iterators - Software House webpage">Iterators</a>
page_with_face: true
shade: 0
---

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<section class="articles">
  <% page_articles.each_with_index do |article, i| %>
    <article>
      <img src="/images/face-icon.jpg" class="face-icon">
      <span>Jacek wrote on <%= article.date.strftime("%B %e") %> <%= article.date.year if article.date.year != Date.today.year%></span>
      <span>— <%= link_to article.title, article.path+"#disqus_thread" %></span>
      <h2 class="fat">
        <%= link_to article.title, article %>
      </h2>
      <h3><%= link_to article.data.subtitle, article %></h3>
      <% article.summary(250) %>
    </article>
  <% end %>
</section>
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>


<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'jacekglodekcom'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>


